.anime_box {
  &, &:hover {
    min-width: 270px;
    padding: 12px;
    position: relative;
    color: inherit;
    text-decoration: inherit;
  }
  &__image {
    padding-bottom: 80%;
    background-size: cover;
    background-position: center;
    margin-bottom: 12px;
    transition: .15s ease-in-out;
    border-radius: 8px;
  }
  &:hover &__image {
    transform: scale(1.05);
  }
  &__row {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-right: -12px;
    margin-left: -12px;
    overflow: scroll;
  }
  &__heading {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }

}
