.container_scroller {
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll;
  &__wrapper {
    position: relative;
    overflow: hidden;
  }
  &__button {
    min-width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0,0,0,.1);
    transition: .5s ease-out;
    &, &:focus {
      outline: none;
    }
    @media (max-width: 768px) {
      display: none;
    }
    &:hover {
      opacity: 1;
      transition: .15s ease-in;
    }
    &-left {
      left: 0;
      &:hover {
        background: linear-gradient(90deg, rgb(47, 47, 47) 0%, rgba(47, 47, 47, .5) 75%, rgba(47, 47, 47, 0) 100%);
      }
    }
    &-right {
      right: 0;
      &:hover {
        background: linear-gradient(270deg, rgb(47, 47, 47) 0%, rgba(47, 47, 47, .5) 75%, rgba(47, 47, 47, 0) 100%);
      }
    }
  }
  &:hover + &__button, &:hover + &__button + &__button {
    opacity: .7;
    transition: .15s ease-in;
    &-left {
      background: linear-gradient(90deg, rgb(47, 47, 47) 0%, rgba(47, 47, 47, 0) 100%);
    }
    &-right {
      background: linear-gradient(270deg, rgb(47, 47, 47) 0%, rgba(47, 47, 47, 0) 100%);
    }
  }
}
