:root {
  --color-brand: #e64034;
  --color-brand-darker: #aa3026;
  --color-brand-accent: #e62a1a;
  --color-rgb-gray: 141,141,141;
  --color-gray-darker: #656565;
  --color-rgb-gray-darker: 101,101,101;
  --color-gray-accent: #aaaaaa;
  --color-rgb-gray-accent: 170,170,170;
  --dark-main-color: #dedede;
  --dark-main-background: #2f2f2f;
  --dark-secondary-background: #1f1f1f;
}
