:root {
  --color-brand: #e64034;
  --color-brand-darker: #aa3026;
  --color-brand-accent: #e62a1a;
  --dark-main-color: #dedede;
  --dark-main-background: #2f2f2f;
  --dark-secondary-background: #1f1f1f;
}
