:root {
  --color-brand: #e64034;
  --color-brand-darker: #aa3026;
  --color-brand-accent: #e62a1a;
  --color-rgb-gray: 141,141,141;
  --color-gray-darker: #656565;
  --color-rgb-gray-darker: 101,101,101;
  --color-gray-accent: #aaaaaa;
  --color-rgb-gray-accent: 170,170,170;
  --dark-main-color: #dedede;
  --dark-main-background: #2f2f2f;
  --dark-secondary-background: #1f1f1f;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@media (min-width: 1350px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

h1 {
  line-height: 1;
}

.scale-enter {
  opacity: 0;
  transform-origin: top left;
  transform: scale(0.9);
}

.scale-enter-active {
  opacity: 1;
  transform-origin: top left;
  transform: scale(1);
  transition: 0.15s;
}

.scale-exit {
  opacity: 1;
  transform-origin: top left;
}

.scale-exit-active {
  opacity: 0;
  transform-origin: top left;
  transform: scale(0.9);
  transition: 0.15s;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: 0.15s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: 0.15s;
}

a:not([class]), a:not([class]):hover, .link_inherit, .link_inherit:hover {
  text-decoration: inherit;
  color: inherit;
}

.header {
  padding: 10px 0;
  width: 100%;
  border-bottom: 2px solid var(--dark-main-background);
  background: var(--dark-secondary-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.15s ease-in-out;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-main-color);
  display: flex;
  align-items: center;
}
.header__logo_image {
  height: 24px;
  margin-right: 8px;
}
.header__search {
  width: 330px;
}
.header__margin {
  height: 62px;
  overflow: hidden;
}
.header-transparent {
  background: transparent;
  border-bottom-width: 0;
}
.header-transparent:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -40px;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
}
.header-transparent > * {
  position: relative;
  z-index: 1;
}
.header-transparent .header__search input {
  border-color: transparent;
  background: transparent;
  color: white;
}
.header-transparent .header__search input::placeholder {
  color: rgba(255, 255, 255, 0.67);
}

.anime_box, .anime_box:hover {
  min-width: 270px;
  padding: 12px;
  position: relative;
  color: inherit;
  text-decoration: inherit;
}
.anime_box__image {
  height: 190px;
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
  transition: 0.15s ease-in-out;
  border-radius: 8px;
}
.anime_box:hover .anime_box__image {
  transform: scale(1.05);
}
.anime_box__row {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-right: -12px;
  margin-left: -12px;
  overflow: scroll;
}
.anime_box__heading {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.wide_slide {
  position: relative;
  height: 100%;
  display: flex;
}
.wide_slide:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) -20px, rgba(0, 0, 0, 0.4) 200px, rgba(0, 0, 0, 0) 400px);
  mix-blend-mode: luminosity;
}
.wide_slide__poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.wide_slide__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wide_slide__video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.wide_slide__video video, .wide_slide__video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wide_slide-show_video .wide_slide__poster {
  opacity: 0;
  transition: 0.3s ease-out;
}
.wide_slide-use_shadow .wide_slide__gradient_overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #a02f27;
  background: linear-gradient(93deg, #a02f27 0%, rgba(160, 47, 39, 0.7) 440px, rgba(160, 47, 39, 0) 100%);
  mix-blend-mode: multiply;
}
.wide_slide-use_shadow .wide_slide__video:before, .wide_slide-use_shadow .wide_slide__poster:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  mix-blend-mode: luminosity;
}
.wide_slide__container {
  position: relative;
  z-index: 10;
  margin-top: auto;
  margin-bottom: 50px;
}
.wide_slide__content {
  max-width: 520px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.wide_slide__heading {
  margin-bottom: 24px;
}
.wide_slide__info {
  font-size: 18px;
}
.wide_slide__logo {
  max-width: 100%;
  height: 100px;
}
.wide_slide__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  position: static;
}
.wide_slide__dot_group {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  width: 400px;
}
.wide_slide__dot_group .carousel__dot {
  width: 100%;
  height: 3px;
  opacity: 0.5;
  margin-right: 5px;
  transition: 0.1s;
  background: white;
}
.wide_slide__dot_group .carousel__dot:hover {
  opacity: 1;
  transition: 0s;
}
.wide_slide__dot_group .carousel__dot--selected {
  opacity: 1;
  width: 200%;
  position: relative;
  animation-duration: inherit;
  background: rgba(255, 255, 255, 0.5);
}
.wide_slide__dot_group .carousel__dot--selected:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform-origin: left;
  animation: loadAnimation linear forwards;
  animation-duration: inherit;
}
@keyframes loadAnimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.rs-btn {
  font-weight: bold;
}

.rs-btn.btn-scale {
  transform-origin: center;
  transform: scale(1);
  transition: 0.15s ease-in-out;
}
.rs-btn.btn-scale:hover {
  transform: scale(1.05);
}

.rs-btn-default.rs-btn-brand, .rs-btn-scale.rs-btn-brand {
  color: #fff;
  background-color: var(--color-brand);
}
.rs-btn-default.rs-btn-brand:active, .rs-btn-default.rs-btn-brand.rs-btn-active, .rs-btn-default.rs-btn-brand .open > .rs-dropdown-toggle.rs-btn-default.rs-btn-brand, .rs-btn-default.rs-btn-brand .rs-btn-scale.rs-btn-brand, .rs-btn-scale.rs-btn-brand:active, .rs-btn-scale.rs-btn-brand.rs-btn-active, .rs-btn-scale.rs-btn-brand .open > .rs-dropdown-toggle.rs-btn-default.rs-btn-brand, .rs-btn-scale.rs-btn-brand .rs-btn-scale.rs-btn-brand {
  background-image: none;
}
.rs-btn-default.rs-btn-brand:active, .rs-btn-default.rs-btn-brand.rs-btn-active, .rs-btn-default.rs-btn-brand .rs-open > .rs-dropdown-toggle.rs-btn-default.rs-btn-brand, .rs-btn-default.rs-btn-brand .rs-btn-scale.rs-btn-brand, .rs-btn-scale.rs-btn-brand:active, .rs-btn-scale.rs-btn-brand.rs-btn-active, .rs-btn-scale.rs-btn-brand .rs-open > .rs-dropdown-toggle.rs-btn-default.rs-btn-brand, .rs-btn-scale.rs-btn-brand .rs-btn-scale.rs-btn-brand {
  color: #fff;
  background-color: var(--color-brand-darker);
}
.rs-btn-default.rs-btn-brand:focus, .rs-btn-default.rs-btn-brand.rs-btn-focus, .rs-btn-scale.rs-btn-brand:focus, .rs-btn-scale.rs-btn-brand.rs-btn-focus {
  color: #fff;
  background-color: var(--color-brand-accent);
}
.rs-btn-default.rs-btn-brand:not(.rs-btn-disabled):hover, .rs-btn-scale.rs-btn-brand:not(.rs-btn-disabled):hover {
  background-color: var(--color-brand-accent);
}
.rs-btn-default.rs-btn-brand:hover, .rs-btn-scale.rs-btn-brand:hover {
  color: #fff;
}

.rs-btn-default.rs-btn-gray, .rs-btn-scale.rs-btn-gray {
  color: #fff;
  background-color: rgba(var(--color-rgb-gray), 0.7);
}
.rs-btn-default.rs-btn-gray:active, .rs-btn-default.rs-btn-gray.rs-btn-active, .rs-btn-default.rs-btn-gray .open > .rs-dropdown-toggle.rs-btn-default.rs-btn-gray, .rs-btn-default.rs-btn-gray .rs-btn-scale.rs-btn-gray, .rs-btn-scale.rs-btn-gray:active, .rs-btn-scale.rs-btn-gray.rs-btn-active, .rs-btn-scale.rs-btn-gray .open > .rs-dropdown-toggle.rs-btn-default.rs-btn-gray, .rs-btn-scale.rs-btn-gray .rs-btn-scale.rs-btn-gray {
  background-image: none;
}
.rs-btn-default.rs-btn-gray:active, .rs-btn-default.rs-btn-gray.rs-btn-active, .rs-btn-default.rs-btn-gray .rs-open > .rs-dropdown-toggle.rs-btn-default.rs-btn-gray, .rs-btn-default.rs-btn-gray .rs-btn-scale.rs-btn-gray, .rs-btn-scale.rs-btn-gray:active, .rs-btn-scale.rs-btn-gray.rs-btn-active, .rs-btn-scale.rs-btn-gray .rs-open > .rs-dropdown-toggle.rs-btn-default.rs-btn-gray, .rs-btn-scale.rs-btn-gray .rs-btn-scale.rs-btn-gray {
  color: #fff;
  background-color: var(--color-gray-darker);
}
.rs-btn-default.rs-btn-gray:focus, .rs-btn-default.rs-btn-gray.rs-btn-focus, .rs-btn-scale.rs-btn-gray:focus, .rs-btn-scale.rs-btn-gray.rs-btn-focus {
  color: #fff;
  background-color: var(--color-gray-accent);
}
.rs-btn-default.rs-btn-gray:not(.rs-btn-disabled):hover, .rs-btn-scale.rs-btn-gray:not(.rs-btn-disabled):hover {
  background-color: var(--color-gray-accent);
}
.rs-btn-default.rs-btn-gray:hover, .rs-btn-scale.rs-btn-gray:hover {
  color: #fff;
}

.container_scroller {
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll;
}
.container_scroller::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.container_scroller__wrapper {
  position: relative;
  overflow: hidden;
}
.container_scroller__button {
  min-width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-out;
}
.container_scroller__button, .container_scroller__button:focus {
  outline: none;
}
@media (max-width: 768px) {
  .container_scroller__button {
    display: none;
  }
}
.container_scroller__button:hover {
  opacity: 1;
  transition: 0.15s ease-in;
}
.container_scroller__button-left {
  left: 0;
}
.container_scroller__button-left:hover {
  background: linear-gradient(90deg, #2f2f2f 0%, rgba(47, 47, 47, 0.5) 75%, rgba(47, 47, 47, 0) 100%);
}
.container_scroller__button-right {
  right: 0;
}
.container_scroller__button-right:hover {
  background: linear-gradient(270deg, #2f2f2f 0%, rgba(47, 47, 47, 0.5) 75%, rgba(47, 47, 47, 0) 100%);
}
.container_scroller:hover + .container_scroller__button, .container_scroller:hover + .container_scroller__button + .container_scroller__button {
  opacity: 0.7;
  transition: 0.15s ease-in;
}
.container_scroller:hover + .container_scroller__button-left, .container_scroller:hover + .container_scroller__button + .container_scroller__button-left {
  background: linear-gradient(90deg, #2f2f2f 0%, rgba(47, 47, 47, 0) 100%);
}
.container_scroller:hover + .container_scroller__button-right, .container_scroller:hover + .container_scroller__button + .container_scroller__button-right {
  background: linear-gradient(270deg, #2f2f2f 0%, rgba(47, 47, 47, 0) 100%);
}

.anime_background {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.anime_background__shadow {
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  background: black;
  background: linear-gradient(90deg, black 50%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}
.anime_background__content {
  overflow: hidden;
  background: black;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 25%;
}
.anime_background__content:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: -270px;
  top: -110px;
  bottom: -110px;
  right: -320px;
  box-shadow: inset 0 0 160px 160px black;
}
.anime_background__content:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.15s;
}
.anime_background__content img, .anime_background__content video {
  transition: 0.15s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}
.anime_background-is_blurred .anime_background__content:after {
  background: rgba(0, 0, 0, 0.3);
}
.anime_background-is_blurred .anime_background__content img, .anime_background-is_blurred .anime_background__content video {
  filter: blur(20px);
}
@media (max-width: 768px) {
  .anime_background__shadow {
    right: 100%;
  }
  .anime_background__content {
    left: 0;
  }
  .anime_background__content:after {
    background: rgba(0, 0, 0, 0.3);
  }
}

.anime_info {
  min-height: calc(100vh - 200px);
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.anime_info__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.anime_info__heading {
  margin-top: 10vh;
  transition: 0.15s;
  max-width: 500px;
}
.anime_info__heading h1 {
  transition: 0.15s;
  font-size: 48px;
}
.anime_info__heading img {
  transition: 0.15s;
  max-width: 300px;
  width: 100%;
}
.anime_info__heading-shorten {
  margin-top: 24px;
}
.anime_info__heading-shorten h1 {
  font-size: 36px;
}
.anime_info__heading-shorten img {
  max-width: 150px;
}
.anime_info__description {
  color: white;
  font-size: 18px;
  font-weight: 300;
  max-width: 500px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-shadow: 0 0 10px black, 0 0 3px black, 0 0 3px black;
}
.anime_info__full_description {
  color: white;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.anime_info__details {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  align-content: flex-start;
  align-items: flex-start;
}
.anime_info__detail {
  display: block;
  margin-right: 24px;
}
.anime_info__label {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-top: 16px;
}
.anime_info__value {
  color: white;
  display: block;
}

.nav_tabs .rs-nav-item {
  margin-left: 4px;
}
.nav_tabs .rs-nav-item-active > .rs-nav-item-content, .nav_tabs .rs-nav-item-active > .rs-nav-item-content:focus {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.15s;
}
.nav_tabs .rs-nav-item-active > .rs-nav-item-content:hover {
  color: white;
  background: rgba(255, 255, 255, 0.5);
}

.player {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.player__iframe, .player__player {
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
}

.hard_backdrop.in {
  backdrop-filter: blur(50px);
  opacity: 0.6;
}

.login_form {
  width: 100%;
}

.slider_section {
  width: 100%;
}
.slider_section .slider, .slider_section .carousel__inner-slide {
  min-height: 600px;
  max-height: 90vh;
}
.slider_section .carousel__inner-slide, .slider_section .carousel__inner-slide:focus {
  outline: none;
}
.slider_section .carousel__slide-focus-ring {
  display: none;
}

.watch_page__close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.login_page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_page__bg {
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
}
.login_page .login_form__wrapper {
  max-width: 400px;
  padding: 24px 16px;
  background: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

.home_layout {
  background: #2f2f2f;
  color: #dedede;
  width: 100%;
  overflow-x: hidden;
}

.full_screen_layout {
  background: #2f2f2f;
  color: #dedede;
  width: 100%;
  overflow-x: hidden;
}
.full_screen_layout__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.full_screen_layout__content {
  height: 100%;
  position: relative;
}
.full_screen_layout__content-with_header {
  height: calc(100% - 64px);
}

/*# sourceMappingURL=index.css.map */
